<div class="custom-container gray">
	
	<h1 class="center">Who We Are</h1>
	<br>
	<br>
	<h3 class="center">Our Mission</h3>


	<div class="image-background-container">
  	<%= image_tag "who_we_are1.png", class:"full-width" %>
  	<div class="center-text-inimage">
  		<h3>Inspire youth to be creator of technoloy</h3>
  	</div>
  </div>

	<p>Our curriculums integrate low-cost and easy-to-learn hardware such as the Raspberry Pi&trade; with software applications to break down complex subjects into simple pieces and encourage creativity through project-based learning. CurricuPi aims to tackle the gap in STEM education around computer science and prepare youth for the changing workforce. To achieve this, we seek to improve accessibility to high-impact technology courses so that anybody can develop skills in problem-solving, critical thinking, and reasoning through hands-on programming activities and tinkering. 
	</p>

	<br>
	<br>
</div>

<div class="custom-container gray">
	<div><h2>Our Team</h2></div>

	<br>

	<!-- Each team member 1-->
	<div class="custom-container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<div class="v300">
							<%= image_tag "vivien.png", class:"pop-up full" %>
							</div>
						</div>
						<div class="back">
							<%= image_tag "vivien.png", class:"pop-up",style:"width:50%;float:left;margin:5px 10px 0px 0px;"%>
							<p>books on Book Adventure to earn points toward the prizes you can find in the Prize Library! Search by title, author last name, or ISBN to find quizzes for the books you've read. The quizzes for kindergarten – grade 2 books will have five books on Book Adventure to earn points toward the prizes you can find in the Prize Library! Search by title, author last name, or </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<h3 class="team-member-name">Vivien Macnguyen</h3>
				<p><i>Co-Founder</i></p>
				<p></p>
				<%= link_to image_tag("linkedin_logo.png", :alt => "Image Description", style: "height: 50px"), "https://www.linkedin.com/in/vivien-macnguyen/", target: :_blank %>
			</div>	
		</div>
	</div>
	<hr>

	<br>
	<br>


<!-- Each team member 2-->
	<div class="custom-container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<h3 class="team-member-name">Albert Hwang</h3>
				<p><i>Co-Founder</i></p>
				<p></p>
				<%= link_to image_tag("linkedin_logo.png", :alt => "Image Description", style: "height: 50px"), "https://www.linkedin.com/in/athwang/", target: :_blank %>
			</div>	
			<div class="col-sm-6 col-md-6 col-lg-6">
				<%= image_tag "albert.jpg", class:"pop-up team-pic" %>
			</div>
		</div>
	</div>
	<hr>

	<br>
	<br>

	<!-- Each team member 3-->
	<div class="custom-container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<%= image_tag "aaron.jpg", class:"pop-up team-pic" %>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<h3 class="team-member-name">Aaron Hu</h3>
				<p><i>Software Engineer, Collabrator</i></p>
				<p></p>
				<%= link_to image_tag("linkedin_logo.png", :alt => "Image Description", style: "height: 50px"), "https://www.linkedin.com/in/aaron1515/", target: :_blank %>
			</div>	
		</div>
	</div>
	<hr>

	<br>
	<br>


	<!-- Each team member 4-->
	<div class="custom-container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<h3 class="team-member-name">Jose Luis Cebrian Marquez</h3>
				<p><i>Collabrator, engineering teacher at Richmond High</i></p>
				<p></p>
				<%= link_to image_tag("linkedin_logo.png", :alt => "Image Description", style: "height: 50px"), "https://www.linkedin.com/in/jose-luis-cebri%C3%A1n-m%C3%A1rquez-a9827748/", target: :_blank %>
			</div>	
			<div class="col-sm-6 col-md-6 col-lg-6">
				<%= image_tag "jose.jpg", class:"pop-up team-pic" %>
			</div>
		</div>
	</div>
	<hr>
	<br>
	<br>

<!-- Each team member 5-->
	<div class="custom-container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-5">
				<%= image_tag "stephanie.jpg", class:"pop-up team-pic" %>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-5">
				<h3 class="team-member-name">Stephanie Wang</h3>
				<p><i>UI & UX Designer</i></p>
				<p></p>
				<%= link_to image_tag("linkedin_logo.png", :alt => "Image Description", style: "height: 50px"), "https://www.linkedin.com/in/hellostephwang/", target: :_blank %>
			</div>	
		</div>
	</div>
	<hr>

</div>



<style type="text/css">


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 300px;
	height: 300px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
</style>