<!-- Bread Crumb -->
<div class="sticky">
	<ul class="breadcrumb" id="breadcrumb">
	  <li><%= link_to "Home", root_path %></li>
	  <li>Lessons</li>
	  <li><%= link_to "Fundamentals", lesson_fundamental_path%></li>
	  <li>Module 2 - Loops</li>
	</ul>
</div>
<!-- End of Bread Crumb -->


<!-- Title -->
<div class="container gray">
	<div class="center">
		<h1>Loops</h1>
	</div>
</div>
<!-- End of Title -->

<br>
<br>
<br>

<!-- Modules -->
<div class="custom-container">
	<div class="third-lesson-box">
		<div class="white">
		<h2 class='lesson-title white'>Learning Goal</h2>
		<p><span></span>Understand the concept and applications of a loop, and how to use a For loop.</p>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>

<!-- Lesson Box -->
<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<h1 class='lesson-title center gray'>Lesson & Syntax</h1>
			<p>A loop statement allows someone to execute a statement or statements a certain number of times. The syntax is written as follows:<p>
			<p><pre class="image-300" style="margin-left: 20px">for x in range(100):<br />	print “Hello!”</pre></p>
			<p>The code will go that loop 100 times, printing the word Hello! that many times. You can put more information inside the loop and control how many times the code is run inside the loop. Indent each line of code that you would want to loop (see how the code print “Hello!” is indented in the example above). For this module, consider how you would change the code from Module 1 and cause your LED light to blink.</p>
		</div>
	</div>
</div>
<br>
<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<h1 class='lesson-title center gray'>Learning Opportunity</h1>
			<p>Change the above syntax to:</p>
			<p><pre class="image-300" style="margin-left: 20px">for x in range(5):<br />	print “Hello!”</pre></p>
			<p>Your resule will be:</p>
			<p><pre class="image-300" style="margin-left: 20px">Hello<br />Hello<br />Hello<br />Hello<br />Hello<br /></pre></p>
			<p>This is a loop that will excute as many times as you specify between the parenthese.</p>
		</div>
	</div>
</div>

<br>
<br>
<br>

<!-- Excercises -->
<div class="custom-container gray">
	<h1>Excercises</h1>
</div>


<!-- Excercise 1 -->
<div class="custom-container gray">
	<div class="second-lesson-box">
		<div class="gray">
			<h2 class='lesson-title gray'>Exercise 1: Have an LED light five times</h2>
			<p>1. Set up the breadboard the same as Module 1, Exercise 2</p>
			<p>2. Open nano file <code>ex2_1.py</code></p>
			<p>3. Follow the directions in red. Note, you will need a <code>Time.sleep(1)</code> function in there. This command tells the computer how long to wait before excuting the next line of code.</p>
			<div><%= image_tag ("loops1.png")%></div>
			<p>The following example code keeps the LED light connected to GPIO Pin 11 on for 3 second then it will disconnect and turn off the lights:</p>
			<p><pre class="image-300" style="margin-left: 20px">GPIO.output(11, GPIO.HIGH)<br />Time.sleep(3)<br />GPIO.output(11, GPIO.LOW)</pre></p>
		</div>
	</div>
</div>


<br>
<br>

<!-- Exercise 2-->
<div class="custom-container">
	<div class="second-lesson-box">
		<div class="gray">
			<h2 class='lesson-title gray'>Exercise 2: Have one LED light blink quickly first, and one LED light blink slowly after.</h2>
			<p>1. Set up the breadboard the same way as Module 1, Exercise 3. You will need to use GPIO 11 and GPIO 13.</p>
			<p>2. Open nano file <code>ex2_2a.py</code></p>
			<p>3. Follow the directions in red. Note to use two for loops. Refer to the Lesson & Syntax for the syntax for the for loops. Use the <code>Time.sleep(number)</code> command as you did before.</p>
			<div><%= image_tag ("loops2.png")%></div>
		</div>
	</div>
</div>

<br>
<br>

<!-- Exercise 3-->
<div class="custom-container">
	<div class="second-lesson-box">
		<div class="gray">
			<h2 class='lesson-title gray'>Exercise 3: Have one LED light blink quickly and one LED light blink slowly simultaneously.</h2>
			<p>Leave the breadboard as is from Module 2, Exercise 2a.</p>
			<p>Open nano file <code>ex2_2b.py</code></p>
			<p>Follow the directions in red. Note to use one for loop this time and use the <code>Time.sleep(number)</code> command as you did before.</p>
		</div>
	</div>
</div>

<br>
<br>
<!-- END of Excercises -->


<!-- Final -->
<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
		<h1 class='lesson-title center gray'>Time to celebrate.</h1>
		<p><i class="fa fa-hand-peace-o" aria-hidden="true"></i> Pat yourself on the back, give a classmate a high five!</p>
		<p><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Check with the instructor you're good to proceed.</p>
		</div>
		<div class="center">
			<%= link_to "< Back to module 1", lesson_fundamental_gpio_path, class:"custom-btn btn-second-invert" %>
			<%= link_to "Go to module 3 >", lesson_fundamental_comparison_path, class:"custom-btn btn-second-invert" %>
		</div>
	</div>
</div>

<br>
<br>


