<!-- Bread Crumb -->
<div class="sticky">
	<ul class="breadcrumb" id="breadcrumb">
	  <li><%= link_to "Lessons", lesson_index_path %></li>
	  <li>Fundamentals</a></li>
	</ul>
</div>
<!-- End of Bread Crumb -->

<div class="lesson-header">
	<h1>Fundamentals</h1>
	<p>Learning computer science & best practice</p>
</div>

<br>

<div class="summary-box gray">
	<div class="row">
		<div class="col-sm-6" >
			<%= image_tag"fundamental.jpg", alt:"parts"%>
		</div>
		<div class="col-sm-6">
			<p><span>Difficulty:</span> Basic</p>
			<p><span>Objective:</span> Introducing computer science fundamentals & best practice to students with no background in computer science.</p>
			<p><span>Time: </span> 10 hours to 20 hours</p>
			<p class="bottom-z">
				<span>Materials:</span>
				<ul>
					<li>Raspberry Pi&trade; (set up wirelessly with all exercise files)</li>
					<li>Breadboard</li>
					<li>2 breadboard buttons (preferable to have extra)</li>
					<li>5 male-to-female wires</li>
					<li>2 male-to-male wires</li>
					<li>2 resistors 220 ohm (preferable to have extra)</li>
				</ul>
			</p>
		</div>	
	</div>
</div>

<br>
<br>
<br>



<!-- Downloadable content -->
<div class="custom-container">
	<div class="primary-lesson-box">
		<h2 class='center lesson-title'>Before starting the modules</h2>
		<p>Download the Fundamental excercise</p>
		<p>Unzip the file(s)</p>
		<p class="center">
			<%= link_to "Download Files", download_fundamental_path, class:"custom-btn btn-primary-invert", alt: "download files" %>
		</p>
	</div>
</div>
<!-- END of Downloadable content -->

<br>
<br>
<br>
<!-- MODULES -->

<!-- Modul 1 -->
<div class="custom-container">
	<div class="second-lesson-box">
		<div class="lesson-text">Module 1</div>
		<h2 class=''>GPIO Outputs</h2>
		<p>Learn the basics of GPIO pin usage on Raspberry Pi and how to manipulate them with Python</p>
		<p class="center">
		<%= link_to "Start Module 1", lesson_fundamental_gpio_path, class:"custom-btn btn-second-invert" %>
		</p>
	</div>
</div>

<br>
<br>

<!-- Module 2 -->
<div class="custom-container">
	<div class="second-lesson-box">
		<div class="lesson-text">Module 2</div>
		<h2 class='lesson-title'>Loops</h2>
		<p>Understand the concept and application of a loop and how to use a For loop</p>
		<p class="center">
			<%= link_to "Start Module 2", lesson_fundamental_loops_path, class:"custom-btn btn-second-invert" %>
		</p>
	</div>
</div>

<br>
<br>

<!-- Module 3 -->
<div class="custom-container">
	<div class="second-lesson-box">
		<div class="lesson-text">Module 3</div>
		<h2 class='lesson-title'>Comparison Operators and Boolean Logic</h2>
		<p>Learn how Booleans fit as a conditional statement and how to use comparison operators</p>
		<p class="center">
			<%= link_to "Start Module 3", lesson_fundamental_comparison_path, class:"custom-btn btn-second-invert" %>
		</p>
	</div>
</div>
<br>
<br>

<!-- Module 4 -->
<div class="custom-container">
	<div class="second-lesson-box">
		<div class="lesson-text">Module 4</div>
		<h2 class='lesson-title'>Conditionals</h2>
		<p>Learn the basics of using If statements, incorporating conditions, and setting GPIO pins as an input</p>
		<p class="center">
			<%= link_to "Start Module 4", lesson_fundamental_conditional_path, class:"custom-btn btn-second-invert" %>
		</p>
	</div>
</div>
<br>
<br>

<!-- Module 5 -->
<div class="custom-container">
	<div class="second-lesson-box">
		<div class="lesson-text">Module 5</div>
		<h2 class='lesson-title'>Logic Gates</h2>
		<p>Learn what a logic gate is and the three basic types: And, Or, and Not</p>
		<p class="center">
			<%= link_to "Start Module 5", lesson_fundamental_logic_path, class:"custom-btn btn-second-invert" %>
		</p>
	</div>
</div>

<br>
<br>
<!-- END OF MODULES -->