<!-- Fundamentals -->
<div class="custom-container gray center">
	<hr>
	<h1>Fundamentals</h1>
	<hr>	
</div>
		
<div class="custom-container index-box">

	<div>
		
		<!-- Module 1 -->
		<div  class="each-mod">
			<div>
				<%= image_tag "300.png"%>
			</div>

			<div>
				<h2>GPIO Outputs</h2>
				<p>Learn the basics of GPIO pin usage on Raspberry Pi and how to manipulate them with Python</p>
			</div>
		</div>

		
		<!-- Module 2 -->
		<div  class="each-mod">
			<div>
				<%= image_tag "300.png"%>
			</div>

			<div>
				<h2>Loops</h2>
				<p>Understand the concept and application of a loop and how to use a For loop</p>
			</div>
		</div>

		<!-- Module 3 -->
		<div class="each-mod">
			<div>
				<%= image_tag "300.png"%>
			</div>

			<div>
				<h2>Comparison Operators and Boolean Logic</h2>
				<p>Learn how Booleans fit as a conditional statement and how to use comparison operators</p>
			</div>
		</div>

		<!-- Module 4 -->
		<div class="each-mod">
			<div>
				<%= image_tag "300.png"%>
			</div>

			<div>
				<h2>Conditionals</h2>
				<p>Learn the basics of using If statements, incorporating conditions, and setting GPIO pins as an input</p>
			</div>
		</div>

		<!-- Module 5 -->
		<div class="each-mod">
			<div>
				<%= image_tag "300.png"%>
			</div>

			<div>
				<h2>Logic Gates</h2>
				<p>Learn what a logic gate is and the three basic types: And, Or, and Not</p>
			</div>
		</div>

	</div>

</div><!-- End of Fundamentals -->


<br>
<br>

<!-- Robot Car -->
<div class="custom-container gray center">
	<hr>
	<h1>Robot Car</h1>
	<hr>	
</div>
		
<div class="custom-container index-box">

	<div>
		
		<!-- Module 1 -->
		<div  class="each-mod">
			<div>
				<%= image_tag "300.png"%>
			</div>

			<div>
				<h2>GPIO Outputs</h2>
				<p>Learn the basics of GPIO pin usage on Raspberry Pi and how to manipulate them with Python</p>
			</div>
		</div>

		
		<!-- Module 2 -->
		<div  class="each-mod">
			<div>
				<%= image_tag "300.png"%>
			</div>

			<div>
				<h2>Loops</h2>
				<p>Understand the concept and application of a loop and how to use a For loop</p>
			</div>
		</div>

		<!-- Module 3 -->
		<div class="each-mod">
			<div>
				<%= image_tag "300.png"%>
			</div>

			<div>
				<h2>Comparison Operators and Boolean Logic</h2>
				<p>Learn how Booleans fit as a conditional statement and how to use comparison operators</p>
			</div>
		</div>

		<!-- Module 4 -->
		<div class="each-mod">
			<div>
				<%= image_tag "300.png"%>
			</div>

			<div>
				<h2>Conditionals</h2>
				<p>Learn the basics of using If statements, incorporating conditions, and setting GPIO pins as an input</p>
			</div>
		</div>

		<!-- Module 5 -->
		<div class="each-mod">
			<div>
				<%= image_tag "300.png"%>
			</div>

			<div>
				<h2>Logic Gates</h2>
				<p>Learn what a logic gate is and the three basic types: And, Or, and Not</p>
			</div>
		</div>

	</div>

</div><!-- End of Robot Car -->
