<!-- Pop up image modal template -->
<div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border: none;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <img src="" class="enlargeImageModalSource" style="width: 100%;">
      </div>
    </div>
  </div>
</div>
<!-- End of image pop up modal -->



<!-- Bread Crumb -->
<div class="sticky">
	<ul class="breadcrumb" id="breadcrumb">
	  <li><%= link_to "Home", root_path %></li>
	  <li><%= link_to "Lessons", lesson_index_path %></li>
	  <li><%= link_to "Robot Car", lesson_robot_car_path%></li>
	  <li>Module 2 - Motor</li>
	</ul>
</div>
<!-- End of Bread Crumb -->


<!-- Title -->
<div class="container gray">
	<div class="center">
		<h1>INTEGRATING MOTOR CONTROL INTO ROBOT CAR</h1>
	</div>
</div>
<!-- End of Title -->

<br>
<br>

<!-- Modules -->
<div class="custom-container">
	<div class="third-lesson-box">
		<div class="white">
		<h2 class='lesson-title white'>Learning Goal</h2>
		<p>
			<ul>
				<li>Understand how the motor control system interacts with the car body</li>
				<li>Understand how the truth table translates to directions for the car</li>
			</ul>
		</p>
		</div>
	</div>
</div>


<br>
<br>

<!-- Setup -->

<div class="custom-container gray">
	<h1>Setup</h1>
</div>

<!-- Step 1 -->
<div class="custom-container gray">
	<div class="forth-lesson-box">
		<div class="gray">
			<h2 class="lesson-title gray">Step 1: </h2>
			<p>Detach most wires from H-Bridge & RaspberryPi&trade;. Secure all motors onto the car chassis, & place top chassis on and arrange wires through the holes appropriately.</p>
			<ol>
				<li>Now that the H-Bridge is confirmed to be working properly, detach all wires EXCEPT the ones attached to the motor with the electrical tape on it.</li>
				<li>As done with motor A, thread the black wire through the copper lead on top, and the red wire through the lead on the bottom (as oriented in the diagram below) for each of the other motors and secure the wires with electrical tape.</li>
				<div><%= image_tag ("motor1.png") %><%= image_tag ("motor2.jpg"), class: "pop-img" %></div>
				<li>Secure all the motors onto the bottom chassis body. First, position the supports on the chassis and align it with the holes on the motor. Insert the screw through the support and through the motor. Use smaller bolts to secure the screw on the supports on the inner side of the motor. Repeat for each motor.</li>
				<div>Outer side of motor:<%= image_tag ("motor3.jpg"), class: "pop-img" %></div>
				<div>Inner side of motor:<%= image_tag ("motor4.jpg"), class: "pop-img" %></div>
			</ol>
		</div>
	</div>
</div>

<br>

<!-- Step 2 -->
<div class="custom-container gray">
	<div class="forth-lesson-box">
		<div class="gray">
			<h2 class="lesson-title gray">Step 2: </h2>
			<p>Attach wires from motor to appropriate outputs on H-Bridge. (Explain how each set of outputs controls both motors)</p>
			<p>To keep this project more simplistic, each pair of motors on each side of the car will share the same output ports on the H-Bridge and therefore receive the same signals from the Raspberry PiTM. However, because the motors are oriented to “face” each other on each side, the wires must be placed into the ports in an alternating manner to ensure that each pair of wheels will spin in the same direction. In addition, the H-Bridge should end up in the middle of all the motors as shown in the image below:</p>
			<div>Left-side pair:<%= image_tag ("motor5.jpg"), class: "pop-img" %></div>
			<ol>
				<li>Twist the black wire from Motor A and red wire from Motor B together, and insert the intertwined wires into Output 1 on the H-Bridge.</li>
				<li>Twist the red wire from Motor A and black wire from Motor B together, and insert the intertwined wires into Output 2 on the H-Bridge.</li>
				<p>Right-side pair:</p>
				<li>Twist the black wire from Motor C and red wire from Motor D together, and insert the intertwined wires into Output 3 on the H-Bridge.</li>
				<li>Twist the red wire from Motor C and the black wire from Motor D together, and insert the intertwined wires into Output 4 on the H-Bridge.</li>
			</ol>
			<p>After the connections are complete, the resulting motors-to-H-Bridge set up should match the layout shown below:</p>
			<div><%= image_tag ("motor6.png"), class: "pop-img" %></div>
		</div>
	</div>
</div>

<br>

<!-- Step 3 -->
<div class="custom-container gray">
	<div class="forth-lesson-box">
		<div class="gray">
			<h2 class="lesson-title gray">Step 3:</h2>
			<p>Connect H-Bridge inputs to the appropriate GPIO pins on the Pi via female to male wires</p>
			<p>First, set up the top chassis piece by taping the battery pack down on it. Thread the wires from the battery pack through the large hole toward the end of the chassis piece.</p>
			<p>Tape your Raspberry Pi&trade; down the top chassis piece as well, on the other end since the battery pack will be on one end. Take four female-to-female wires and connect them to GPIO Pins #11, #13, #15, and #18. Then take two male-to-female wires and attach them to GPIO Pins #2 and #6. Take the ends (which shouldn’t be attached to anything) and thread them down the large hole toward the end of the chassis piece closest to the Raspberry Pi&trade;.</p>
			<p>Now take the unconnected ends of the four female-to-female wires, and connect the H-Bridge inputs to the GPIO pins on the Raspberry PiTM as follows:</p>
			<p>Input 1 –> GPIO Pin #11</p>
			<p>Input 2 –> GPIO Pin #13</p>
			<p>Input 3 –> GPIO Pin #15</p>
			<p>Input 4 –> GPIO Pin #18</p>
			<p>Then take the unconnected ends of the two male-to-female wires (should be the male ends) and connect them to the H-Bridge inputs as follows:</p>
			<p>5V –> GPIO PIN #2</p>
			<p>GND –> GPIO PIN #6</p>
			<p>Refer to the diagram below for diagram of the complete connections.</p>
			<div><%= image_tag ("motor7.png"), class: "pop-img" %></div>
			<p>The car should look like this at this point:</p>
			<div><%= image_tag ("motor8.jpg"), class: "pop-img" %></div>
		</div>
	</div>
</div>

<br>

<!-- Step 4 -->
<div class="custom-container gray">
	<div class="forth-lesson-box">
		<div class="gray">
			<h2 class="lesson-title gray">Step 4: </h2>
			<p>Complete building of car. Connect Raspberry PiTM to portable charger, which should turn on the Raspberry PiTM. Connect the battery pack to the H-Bridge as in Step 2A. Place batteries into the battery pack. Now the H-Bridge should turn on as well.</p>
			<p>Use bronze rods to attach the top chassis, which holds the Raspberry PiTM and battery pack, to the bottom chassis, which holds the H-bridge and motors. Secure the rods using screws on both chasses.</p>
			<div><%= image_tag ("motor9.jpg"), class: "pop-img" %></div>
			<p>Attach all four wheels to the car.</p>
			<p>Connect the RPi to the portable charger via the MicroUSB cord. This should automatically turn on the RPi, as designated by the green light and flashing red light. Place the 4 AA batteries into the battery pack, which should turn on the H-Bridge, designated by the red light.</p>
		</div>
	</div>
</div>

<br>

<!-- End of setup -->


<!-- Lesson Box -->
<div class="custom-container">
	<div class="primary-lesson-box final-box">
		<div class="gray">
		<h1 class='lesson-title center gray'>Before going to the next module:</h1>
		<p><i class="fa fa-hand-peace-o" aria-hidden="true"></i> Pat yourself on the back, give a classmate a high five!</p>
		<p><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Check with the instructor you're good to proceed.</p>
		</div>
		<div class="center">
			<div class="final-btn">
				<%= link_to "< Back to Module 1", lesson_robot_car_h_bridge_path, class:"custom-btn btn-second-invert" %>
			</div>
			<div class="final-btn">
				<%= link_to "Go to Module 3 >", lesson_robot_car_define_function_path, class:"custom-btn btn-second-invert" %>
			</div>
		</div>
		<br>
	</div>
</div>
<!-- Lesson Box -->

<br>
<br>

<!-- JavaScript for popup images -->
<script type="text/javascript">
$(function() {
	$('.pop-img').on('click', function() {
		$('.enlargeImageModalSource').attr('src', $(this).attr('src'));
		$('#enlargeImageModal').modal('show');
	});
});
</script>