<!-- Bread Crumb -->
<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li>Lessons</li>
  <li><%= link_to "Robot Car", lesson_robot_car_path%></li>
  <li>Module 1 - H Bridge</li>
</ul>


<div class="container gray">
	<div class="center">
		<h1>MOTOR CONTROL USING H-BRIDGE</h1>
	</div>
</div>

<br>
<br>

<!-- Modules -->
<div class="container">
	<div class="lesson-box-dark-blue">
		<div class="white">
		<h2 class='lesson-title white'>Learning Goals</h2>
		<p><span>logo here</span>something</p>
		<p><span>logo here</span>something</p>
		</div>
	</div>
</div>

<br>
<br>

<div class="custom-container gray">
	<h2>Overview</h2>
	<div class="row center">
	  <div class="col-md-4">
	  <%= link_to image_tag("300.png")%>
	  	
	  </div>
	  <div class="col-md-8">
	  	<div class="concept">
	  		
	  	<h4 class="gray"><span>logo</span> KEY CONCEPTS</h4>
				<div class="row">
					<div class="col-sm-4">
						Truth Table
					</div>
					<div class="col-sm-4">
						H-Bridge
					</div>
					<div class="col-sm-4">
						Eletic Polarity
					</div>
	  		</div>
	  	</div>
	  		<p>something</p>
	  		<p>something</p>
	  		<p><b>something</b></p>
			</div>
			<div class="btn btn-primary">Open Truth Table</div>
		</div>
	</div>
</div>


<br>
<br>

<!-- Carousel -->

<div class="custom-container gray">
	<h2>Setup</h2>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= link_to image_tag("300.png")%>
    </div>

    <div class="item">
      <%= link_to image_tag("300.png")%>
    </div>

    <div class="item">
      <%= link_to image_tag("300.png")%>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
	
</div>


