<div class="sticky">
	<ul class="breadcrumb">
	  <li><%= link_to "Home", root_path %></li>
	  <li>Lessons</li>
	  <li>Robot Car</a></li>
	</ul>
</div>

<div class="container gray">
	<h1 class="center">Robot Car</h1>
	<p class="center">Learn to Build a Robot Car using the programming language Python</p>
</div>

<br>
<br>
<br>

<div class="custom-container gray">
	<div class="row">
		<div class="col-sm-7 col-md-6 col-lg-5 center">
			<%= image_tag "robot_car.jpg", class:"image-400" %>
		</div>
		<div class="col-sm-7 col-md-6 col-lg-5 lesson-summary">
			<p><b>Difficulity:</b> Intermediate</p>
			<p><b>Objective:</b> Introduce computer science fundamentals to students with no background in computer science through engaging activey-base modules with Rasberry Pi</p>
			<p><b>Time:</b> 1 day to 1 week</p>
			<p class="bottom-z">
				<b>
				Materials:	
				</b>
				<ul>
					<li>Raspberry Pi&trade; (set up wirelessly with all exercise files)</li>
					<li>4WD Robot Car Chassis with motors and battery case</li>
					<li>L298N Motor Drive Controller Board Dual H-Bridge</li>
					<li>Male-to-Female/Male-to-Male/Female-to-Female Wires Set</li>
					<li>Portable Charger (with MicroUSB cable) at least 5V 700mA</li>
				</ul>
			</p>
			<p class="bottom-z">
				<b>
				Misc:	
				</b>
				<ul>
					<li>Screwdriver (smaller and regular)</li>
					<li>Electrical tape</li>
					<li>Wire stripper</li>
					<li>Scissors</li>
					<li>(At least) 4 AA Batteries</li>
				</ul>
			</p>
		</div>	
	</div>
</div>

<br>
<br>



<!-- Downloadable content -->
<div class="custom-container">
	<div class="primary-lesson-box">
		<h2 class='center lesson-title'>Before starting the modules</h2>
		<p>Download the Robot Car excercise</p>
		<p>Unzip the file(s)</p>
		<p>
			<%= link_to "Download Files", lesson_robot_car_h_bridge_path, class:"btn btn-primary" %>
		</p>
	</div>
</div>


<br>
<br>




<!-- Modules -->
<div class="custom-container">
	<div class="second-lesson-box">
		<div class="lesson-text">Module 1</div>
		<h2 class='lesson-title'>Motor control using H-Bridge</h2>
		<p>You can create anything that makes you happy. Very easy to work these to death.  You have to allow the paint to break to make it  can create anything that makes you happy. Very easy to work these to death.  You have to allow the paint to break to make it beautful.  Nice little Nice little.</p>
		<p>
		<%= link_to "Start Module 1", lesson_robot_car_h_bridge_path, class:"btn btn-primary" %>
		</p>
	</div>
</div>

<br>
<br>

<div class="custom-container">
	<div class="second-lesson-box">
		<div class="lesson-text">Module 2</div>
		<h2 class='lesson-title'>Intergrate motor control into robot car</h2>
		<p>You can create anything that makes you happy. Very easy to work these to death.  You have to allow the paint to break to make it beautful.  Nice littleYou can create anything that makes you happy. Very easy to work these to death.  You have to allow the paint t Nice little</p>
		<p>
			<%= link_to "Start Module 2", lesson_robot_car_motor_path, class:"btn btn-primary" %>
		</p>
	</div>
</div>

<br>
<br>

<div class="custom-container">
	<div class="second-lesson-box">
		<div class="lesson-text">Module 3</div>
		<h2 class='lesson-title'>Defining Functions</h2>
		<p>You can create anything that makes you happy. Very easy to work these to death.  You have to allow the paint to break to make it eate anything that makes you happy. Very easy to work these to death.  You have to allow the paint to break to make it beautful.  Nice little</p>
		<p>
			<%= link_to "Start Module 3", lesson_robot_car_define_function_path, class:"btn btn-primary" %>
		</p>
	</div>
</div>

<br>
<br>