<%= form_for @contact, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <div class="form-group">

    <% if contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

        <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
    
  <div class="form-group">
    <%= f.label "Name:" %>
    <%= f.text_field :name, class: "form-control",placeholder: "Your Name", required: true %>
  </div>
  <div class="form-group">
    <%= f.label "Email:" %>
    <%= f.text_field :email, class: "form-control", placeholder: "name@domain.com", required: true  %>
  </div>

  <div class="form-group">
    <%= f.label "Organization:" %>
    <%= f.text_field :organization, class: "form-control", placeholder: "Richmond High...." %>
  </div>

  <div class="form-group">
    <%= f.label "Comment:" %>
    <%= f.text_area :comment, class: "form-control", placeholder: "Questions, Comments, Additonal contact information...", rows: "5", required: true  %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn-submit", style: "float:right;" %>
  </div>
<% end %>



