  
<%= form_for(@contact, :html => { :class => "" }) do |f| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2 style="color:maroon;"><%= pluralize(contact.errors.count, "Error") %> - Please correct these items:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li style="color:maroon;"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :organization %>
    <%= f.text_field :organization,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment,class: "form-control", rows: "7"%>
  </div>

  <div class="actions">
    <%= f.submit "Submit Info",class: "btn-submit", style: "float:right;" %>
  </div>
<% end %>
