<h1 class="center">Contact Info</h1>


<div class="custom-container">
	
<p>
  <h4>Name:</h4>
  <%= @contact.name %>
</p>

<p>
  <h4>Email:</h4>
  <%= @contact.email %>
</p>

<p>
  <h4>Organization/School:</h4>
  <%= @contact.organization %>
</p>

<p>
  <h4>Status:</h4>
  <%= @contact.status %>
</p>

<p>
  <h4>Comment:</h4>
  <%= @contact.comment %>
</p>

<p>
  <h4>Note:</h4>
  <%= @contact.note %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
</div>
