<% if false %>


<%= form_with(model: subscriber, local: true) do |form| %>
  <% if subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
      <% subscriber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :subscriber_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :subscriber_email %>
  </div>

    <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :subscriber_active %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% end %>



<%= form_for @subscriber, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :email %>
  <%= f.submit "Create" %>
<% end %>
