<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @subscriber.title %>
</p>

<p>
  <strong>Test:</strong>
  <%= @subscriber.test %>
</p>

<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Back', subscribers_path %>
