<div class="custom-container gray">
	<h1 class="center">Who We Are</h1>
	<br>
	<br>
	<h3 class="center">Our Mission</h3>


	<div class="image-background-container">
  	<%= image_tag "1200.jpg", class:"full-width" %>
  	<div class="center-text-inimage">
  		<h3>Inspire youth to be creator of technoloy</h3>
  	</div>
  </div>

	<p>Our curriculums integrate low-cost and easy-to-learn hardware such as the Raspberry Pi&trade; with software applications to break down complex subjects into simple pieces and encourage creativity through project-based learning. CurricuPi aims to tackle the gap in STEM education around computer science and prepare youth for the changing workforce. To achieve this, we seek to improve accessibility to high-impact technology courses so that anybody can develop skills in problem-solving, critical thinking, and reasoning through hands-on programming activities and tinkering. 
	</p>

	<br>
	<br>
</div>

<div class="custom-container gray">
	<div><h2>Our Team</h2></div>

	<br>

	<!-- Each team member 1-->
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-4">
				<%= image_tag "vivien.png", class:"pop-up team-pic" %>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-4">
				<h3 class="team-member-name">Vivien Macnguyen</h3>
				<p>co-founder</p>
				<p>Objective: Introduce computer science fundamentals to students with no background in computer science through engaging activey-base modules with Rasberry Pi</p>
				<%= link_to "Linked In", ("https://www.linkedin.com/in/vivien-macnguyen/"), class: 'btn' %>
				<%= link_to "email", root_path, class: 'btn' %>
			</div>	
		</div>
	</div>
	<hr>

	<br>
	<br>


<!-- Each team member 2-->
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-4">
				<h3 class="team-member-name">Albert Hwang</h3>
				<p>co-founder</p>
				<p>Objective: Introduce computer science fundamentals to students with no background in computer science through engaging activey-base modules with Rasberry Pi</p>
				<%= link_to "Linked In", ("https://www.linkedin.com/in/athwang/"), class: 'btn' %>
				<%= link_to "email", root_path, class: 'btn' %>
			</div>	
			<div class="col-sm-6 col-md-6 col-lg-4">
				<%= image_tag "albert.jpg", class:"pop-up team-pic" %>
			</div>
		</div>
	</div>
	<hr>

	<br>
	<br>

	<!-- Each team member 3-->
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-4">
				<%= image_tag "aaron.jpg", class:"pop-up team-pic" %>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-4">
				<h3 class="team-member-name">Aaron Hu</h3>
				<p>collabrator, softwar engineer</p>
				<p>Objective: Introduce computer science fundamentals to students with no background in computer science through engaging activey-base modules with Rasberry Pi</p>
				<%= link_to "Linked In", ("https://www.linkedin.com/in/aaron1515/"), class: 'btn' %>
				<%= link_to "email", root_path, class: 'btn' %>
			</div>	
		</div>
	</div>
	<hr>

	<br>
	<br>

	<!-- Each team member 4-->
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-4">
				<h3 class="team-member-name">Jose Luis Cebrian Marquez</h3>
				<p>collabrator, engineering teacher at Richmond High</p>
				<p>Objective: Introduce computer science fundamentals to students with no background in computer science through engaging activey-base modules with Rasberry Pi</p>
				<%= link_to "Linked In", ("https://www.linkedin.com/in/jose-luis-cebri%C3%A1n-m%C3%A1rquez-a9827748/"), class: 'btn' %>
				<%= link_to "email", root_path, class: 'btn' %>
			</div>	
			<div class="col-sm-6 col-md-6 col-lg-4">
				<%= image_tag "jose.jpg", class:"pop-up team-pic" %>
			</div>
		</div>
	</div>
	<br>
	<br>
</div>