<!DOCTYPE html>
<html>
  <head>
    <title>CurricuPi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= favicon_link_tag 'icon2.ico' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>

  </head>

  <body>

	<%= render partial: "shared/flash_messages", flash: flash %> 


		<nav class="navbar navbar-default">
			<div class="container-fluid">

		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <%= link_to image_tag("logo_header.png"), root_path, class: "navbar-brand logo-header" %>
		      </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			      	<!-- Insert for things on the nav bar on the left side -->
			      </ul>

			      <ul class="nav navbar-nav navbar-right">
			      	<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lessons<span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><%= link_to "All Modules", lesson_index_path, class:"center" %></li>
			            <li role="separator" class="divider"></li>
			          	<li><%= link_to "1. Fundamentals", lesson_fundamental_path %></li>
			          	<li><%= link_to "2. Robot Car", lesson_robot_car_path %></li>
			          	<li><%= link_to "3. Self Driving Car", lesson_self_driving_car_path %></li>
			          </ul>
			        </li>

			        <!-- Removed for now -->
			        <% if false%>
			      	<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
			          <ul class="dropdown-menu">
			          	<li><%= link_to "Geting Started", resource_getting_started_path %>
			          	<li><%= link_to "Setup Guide", resource_guide_path %>
			            <li role="separator" class="divider"></li>
			          	<li><%= link_to "Stuck?", resource_trouble_path, target: :_blank %></li>
			          </ul>
			        </li>
			        <% end %>
			        <!-- End of Removed resources -->

			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li>
			            	<%= link_to "What We Offer", about_what_we_offer_path %>
			            </li>
			            <li>
			            	<%= link_to "Who We Are", about_who_we_are_path %>
			            </li>
			            <li>
			            <%= link_to "In The News", ("http://richmondstandard.com/2017/07/11/chevron-engineers-help-make-coding-fun-at-richmond-high/"), target: :_blank %>
			            </li>
			            <li>
			            <%= link_to "FAQ", about_faq_path %>
			            </li>
			          </ul>
			        </li>
			        <li><%= link_to "Contact Us", new_contact_path %></li>




			        <!-- Signed In User -->
			        <% if user_signed_in? %>
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            
				            <li><%= link_to "Update Password", edit_user_registration_path %></li>
				            <li><%= link_to('Logout User', destroy_user_session_path, method: :delete) %></li>
				            <li></li>
				            <li></li>
				          </ul>
				        </li>
  						<% end %><!-- End of User -->




			        <!-- Signed In Admin -->
			        <% if admin_signed_in? %>
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><%= link_to "Subscribers", subscribers_path %></li>
				            <li role="separator" class="divider"></li>
				            <li><%= link_to "Update Info", edit_admin_registration_path %></li>
				            <li><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>
				            <li></li>
				          </ul>
				        </li>
  						<% end %><!-- End of Admin -->

			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>

    <%= yield %>

  </body>
</html>
